.visitor{
    border: solid black  2px;
    height: 500px;
    width: 300px;
    border-radius: 5px;
}
.chckBtn{
   background-color:rgb(5, 51, 5);
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;   
}
.buttons{
    margin-top: 60px;
    margin-left: 111px;
}